{% extends "base.html" %}
{% block content %}
    <div ng-controller="ShopifyMoreActionsController">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-9">
                        <h1>More actions</h1>
                    </div>
                </div>
                <hr>
                <div class="input-group">
                    <h2>Sync products:</h2>
                    <span>Last updates:</span>
                    <ul>
                        {% for store in stores %}
                            <li><strong>{{ store.name }}:</strong> {{ store.product_task_run_at }}</li>
                        {% endfor %}
                    </ul>
                    <span class="input-group-btn">
                        <button class="btn serenity" ng-click="syncProducts()" ng-disabled="loadingSyncProducts">Sync
                            <i class="fa fa-spinner fa-pulse" ng-show="loadingSyncProducts"></i>
                        </button>
                    </span>
                </div>
                <label>Get all new/modified/deleted products from Shopify and update MVD Database.</label>
                <div ng-show="syncProductsResponse" class="alert" ng-class="syncProductsResponse.success ? 'alert-success' : 'alert-danger'" role="alert">
                    [[syncProductsResponse.message]]
                </div>
                <hr>
                <div class="input-group">
                    <h2>Sync smart collections:</h2>
                    <span>Last updates:</span>
                    <ul>
                        {% for store in stores %}
                            <li><strong>{{ store.name }}:</strong> {{ store.collection_task_run_at }}</li>
                        {% endfor %}
                    </ul>
                    <span class="input-group-btn">
                        <button class="btn serenity" ng-click="syncSmartCollections()" ng-disabled="loadingSyncSmartCollections">Sync
                            <i class="fa fa-spinner fa-pulse" ng-show="loadingSyncSmartCollections"></i>
                        </button>
                    </span>
                </div>
                <label>Get all new/modified/deleted smart collections from Shopify and update MVD Database.</label>
                <div ng-show="syncSmartCollectionsResponse" class="alert" ng-class="syncSmartCollectionsResponse.success ? 'alert-success' : 'alert-danger'" role="alert">
                    [[syncSmartCollectionsResponse.message]]
                </div>
                <hr>
                <div class="input-group">
                    <h2>Sync orders:</h2>
                    <span>Last updates:</span>
                    <ul>
                        {% for store in stores %}
                            <li><strong>{{ store.name }}:</strong> {{ store.order_task_run_at }}</li>
                        {% endfor %}
                    </ul>
                    <span class="input-group-btn">
                        <button class="btn serenity" ng-click="syncOrders()" ng-disabled="loadingSyncOrders">Sync
                            <i class="fa fa-spinner fa-pulse" ng-show="loadingSyncOrders"></i>
                        </button>
                    </span>
                </div>
                <label>Get all new/modified/deleted orders from Shopify and update MVD Database.</label>
                <div ng-show="syncOrdersResponse" class="alert" ng-class="syncOrdersResponse.success ? 'alert-success' : 'alert-danger'" role="alert">
                    [[syncOrdersResponse.message]]
                </div>
                <hr>
                <div class="input-group">
                    <h2>Generate WE Feeds:</h2>
                    <ul>
                        {% if we_store %}
                            <li><strong>{{ we_store.name }}:</strong></li>
                            <ul>
                                <ul>
                                    {% for feed in we_store.feed_set.all %}
                                        {% if feed.file %}
                                            <li><a href="{{ feed.file.url }}" download>{{ feed.name }}</a> - Last update: {{ feed.created_at }}
                                                {% if feed.error %}<span class="text-danger"><strong>Error: </strong>{{ feed.error }}{% endif %}</span></li>
                                        {% else %}
                                            <li>{% if feed.error %}<span class="text-danger"><strong>Error: </strong>{{ feed.error }}</span>{% endif %}</li>
                                        {% endif %}
                                    {% empty %}
                                        <li>No feeds generated.</li>
                                    {% endfor %}
                                </ul>
                            </ul>
                        {% endif %}
                    </ul>
                    <span class="input-group-btn">
                        <button class="btn serenity" ng-click="generateWEProductFeeds()" ng-disabled="loadingGenerateWEProductFeeds">Generate
                            <i class="fa fa-spinner fa-pulse" ng-show="loadingGenerateWEProductFeeds"></i>
                        </button>
                    </span>
                </div>
                <label>Generate all product feeds for WE Shopify Store.</label>
                <div ng-show="generateWEProductFeedsResponse" class="alert" ng-class="generateWEProductFeedsResponse.success ? 'alert-success' : 'alert-danger'" role="alert">
                    [[generateWEProductFeedsResponse.message]]
                </div>
                <hr>
                <div class="input-group">
                    <h2>Upload brand model js file:</h2>
                    <span class="input-group-btn">
                        <button class="btn serenity" ng-click="uploadBrandModelJSFile()" ng-disabled="loadingUploadBrandModelJSFile">Upload
                            <i class="fa fa-spinner fa-pulse" ng-show="loadingUploadBrandModelJSFile"></i>
                        </button>
                    </span>
                </div>
                <label>Generate a javascript file with brand/model map and upload it to Shopify.</label>
                <div ng-show="uploadBrandModelJSFileResponse" class="alert" ng-class="uploadBrandModelJSFileResponse.success ? 'alert-success' : 'alert-danger'" role="alert">
                    [[uploadBrandModelJSFileResponse.message]]
                </div>
                <hr>
                <div class="input-group">
                    <h2>Update models on shopify:</h2>
                    <span>Last updates:</span>
                    <ul>
                        {% for store in stores %}
                            <li><strong>{{ store.name }}:</strong> {{ store.update_shopify_collection_task_run_at }}</li>
                        {% endfor %}
                    </ul>
                    <span class="input-group-btn">
                        <button class="btn serenity" ng-click="updateSmartCollectionOnShopify()" ng-disabled="loadingUpdateSmartCollectionOnShopify">Upload
                            <i class="fa fa-spinner fa-pulse" ng-show="loadingUpdateSmartCollectionOnShopify"></i>
                        </button>
                    </span>
                </div>
                <label>Update all the brand/models that where modified to Shopify.</label>
                <div ng-show="uploadUpdateSmartCollectionOnShopifyResponse" class="alert" ng-class="uploadUpdateSmartCollectionOnShopifyResponse.success ? 'alert-success' : 'alert-danger'" role="alert">
                    [[uploadUpdateSmartCollectionOnShopifyResponse.message]]
                </div>

            </div>
        </div>
    </div>

    <script>
        window.products_sync_endpoint = '{% url 'shopify:more-actions-sync-products' %}';
        window.smart_collections_sync_endpoint = '{% url 'shopify:more-actions-sync-smart-collections' %}';
        window.we_feed_generation_endpoint = '{% url 'shopify:more-actions-we-product-feed-generation' %}';
        window.upload_brand_model_js_endpoint = '{% url 'shopify:more-actions-upload-brand-model-js' %}';
        window.update_smart_collections_shopify_endpoint = '{% url 'shopify:more-actions-update-models-to-shopify' %}';
        window.orders_sync_endpoint = '{% url 'shopify:more-actions-sync-orders' %}';
    </script>
{% endblock %}
