{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Store selector</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form name="storeSelectorFrm" id="storeSelectorFrm" action="{% url 'shopify:upload-new-models-to-shopify-preview' %}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="selStore" class="col-sm-2 form-control-label text-right">Shopify store</label>
                <div class="col-sm-10">
                    <select class="form-control" id="store" name="store">
                        {% for store in stores %}
                            <option value="{{ store.id }}">{{ store.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn serenity">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
