{% extends "base.html" %}
{% block content %}
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-9">
                        <h1>Product feeds</h1>
                    </div>
                </div>
                <hr>
                {% for store in stores %}
                    <div class="input-group">
                        <h4>{{ store.name }}</h4>
                        <ul>
                            {% for feed in store.feed_set.all %}
                                {% if feed.file %}
                                    <li><a href="{{ feed.file.url }}" download>{{ feed.name }}</a> - Last update: {{ feed.created_at }}
                                        {% if feed.error %}<span class="text-danger"><strong>Error: </strong>{{ feed.error }}</span>{% endif %}</li>
                                {% else %}
                                    <li>{% if feed.error %}<span class="text-danger"><strong>Error: </strong>{{ feed.error }}</span>{% endif %}</li>
                                {% endif %}
                            {% empty %}
                                <li>No feeds generated.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
