{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Webhooks</h1>
            <hr/>

        </div>
    </div>
    <div class="row" ng-controller="WebhookController">
        <div class="col-lg-12">
            <div ng-if="errorMessage">
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> [[ errorMessage ]]
                </div>
            </div>
            <div ng-if="successMessage">
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> [[ successMessage ]]
                </div>
            </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group row">
                <label for="selShopifyStore" class="col-sm-2 form-control-label text-right">Shopify store</label>
                <div class="col-sm-10">
                    <select class="form-control" id="selShopifyStore" name="shopifyStore"
                    ng-options="store.name for store in stores track by store.id"
                    ng-model="selectedStore" ng-change="selectStore()">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-if="loading" style="text-align: center;font-size: 25px;">
                Loading...
            </div>
        </div>

        <div class="col-lg-12" ng-if="finished && success">
            <hr>
                <div class="input-group">
                    <div></div>
                    <span class="input-group-btn">
                        <button class="btn emerald" data-toggle="modal" data-target="#registerModal">Register</button>
                    </span>
                </div>
            <hr>
            <table class="table table-striped table-bordered" ng-show="webhooks.length" style="width:100%;">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Topic</th>
                        <th>Address</th>
                        <th>Created At</th>
                        <th>Delete</th>
                   </tr>
                </thead>
                <tr ng-repeat="webhook in webhooks">
                    <td>[[webhook.id]]</td>
                    <td>[[webhook.topic]]</td>
                    <td>[[webhook.address]]</td>
                    <td>[[webhook.created_at | date:'medium']]</td>
                    <td><button type="button" class="right btn marsala text-white"
                                ng-click="deleteWebhook(webhook)"
                                ng-disabled="webhook.deleting">
                            <i class="fa fa-trash" ng-hide="webhook.deleting"></i>
                            <i class="fa fa-spinner fa-pulse" ng-show="webhook.deleting"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-bordered" ng-hide="webhooks.length" style="width:100%;">
                <thead class="thead-inverse">
                    <tr>
                        <th>&nbsp;</th>
                   </tr>
                </thead>
                <tr>
                    <td>No webhooks registered on this store</td>
                </tr>
            </table>
        </div>

        <div class="modal fade" id="registerModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="registerWebhookForm" ng-submit="registerWebhook()" novalidate>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Webhook registration</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert tango-tangerine text-center text-white" ng-show="registrationMessage">
                                <i class="fa fa-check-circle"></i>&nbsp;[[ registrationMessage ]]
                            </div>
                            <input type="hidden" name="store" ng-value="selectedStore" />
                            <label for="selStore" class="col-sm-10 form-control-label text-right">Store</label>
                            <select class="form-control" id="selStore" name="store"
                            ng-options="store.name for store in stores track by store.id"
                            ng-model="selectedStore" disabled>
                            </select>

                            <label for="selTopic" class="col-sm-10 form-control-label text-right">Topic/Action</label>
                            <select id="selTopic" class="form-control" ng-options="item for item in topics"
                                    ng-model="selectedTopic">
                            </select>
                            <label for="address"
                                   class="col-sm-10 form-control-label text-right">Address</label>
                            <input type="text" class="form-control" name="address"
                                   id="address" ng-model="address" required>
                        </div>
                        <div class="modal-footer">
                            <button id="modal-dismiss" type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary" ng-disabled="registerWebhookForm.$invalid"><i class="fa fa-spinner fa-pulse" ng-show="loadingRegisterWebhook"></i>Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.shopify_data = {};
        window.shopify_data.getEndpoint = '{% url 'shopify:webhook-store-selector' %}';
        window.shopify_data.createEndpoint = '{% url 'shopify:webhook-create' %}';
        window.shopify_data.deleteEndpoint = '{% url 'shopify:webhook-delete' %}';
        window.shopify_data.stores = {{ stores|safe }};
        window.shopify_data.topics = {{ topics|safe }};
    </script>
{% endblock %}
