
{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Image Retrieval Tool</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form name="productForm" id="frmProduct" action="{% url 'image-retrieval:view' %}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="txtProduct1" class="col-sm-2 form-control-label text-right">Product #1</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct1" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct2" class="col-sm-2 form-control-label text-right">Product #2</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct2" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct3" class="col-sm-2 form-control-label text-right">Product #3</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct3" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct4" class="col-sm-2 form-control-label text-right">Product #4</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct4" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct5" class="col-sm-2 form-control-label text-right">Product #5</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct5" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct6" class="col-sm-2 form-control-label text-right">Product #6</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct6" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct7" class="col-sm-2 form-control-label text-right">Product #7</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct7" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct8" class="col-sm-2 form-control-label text-right">Product #8</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct8" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct9" class="col-sm-2 form-control-label text-right">Product #9</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct9" name="products[]" placeholder="Product ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtProduct10" class="col-sm-2 form-control-label text-right">Product #10</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtProduct10" name="products[]" placeholder="Product ID">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script>
</script>
{% endblock %}
