{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>&nbsp;&nbsp;Daily Sales Tracker</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-default">
                <tr class="serenity">
                    <td class="text-xs-center" colspan="3"><b>All stores</b></td>
                </tr>
                <tr>
                    <th class="text-xs-center">Date</th>
                    <th class="text-xs-center">Orders</th>
                    <th class="text-xs-center" >Net sales</th>
                </tr>
            </thead>
            <tbody>
            {% for x in net_sales %}
                <tr>
                    <td>{{ x.period | slice:"5:" }}</td>
                    <td class="text-xs-right">{{ x.total_orders | intcomma }}</td>
                    <td class="text-xs-right">{{ x.net_sales | floatformat:2 | intcomma }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="3" class="text-xs-center"><i>*—totals exclude tax, cancellations and refunds</i></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-default">
                <tr class="serenity">
                    <td class="text-xs-center" colspan="4"><b>CO only</b></td>
                </tr>
                <tr>
                    <th class="text-xs-center">Orders</th>
                    <th class="text-xs-center">Net sales</th>
                    <th class="text-xs-center">Sessions</th>
                    <th class="text-xs-center">ECR</th>
                </tr>
            </thead>
            <tbody>
            {% for x in net_sales_co %}
                <tr>
                    <td class="text-xs-right">{{ x.total_orders | intcomma }}</td>
                    <td class="text-xs-right">{{ x.net_sales | floatformat:2 | intcomma }}</td>
                    <td class="text-xs-right">{{ x.sessions | intcomma }}</td>
                    <td class="text-xs-right">{{ x.conversion_rate | floatformat:2 }}%</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="4" class="text-xs-center"><i>*—totals exclude tax, cancellations and refunds</i></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12 col-md-3">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-default">
                <tr class="serenity">
                    <td class="text-xs-center" colspan="2"><b>All other</b></td>
                </tr>
                <tr>
                    <th class="text-xs-center">Orders</th>
                    <th class="text-xs-center">Net sales</th>
                </tr>
            </thead>
            <tbody>
            {% for x in net_sales_other %}
                <tr>
                    <td class="text-xs-right">{{ x.total_orders | intcomma }}</td>
                    <td class="text-xs-right">{{ x.net_sales | floatformat:2 | intcomma }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2" class="text-xs-center"><i>*—totals exclude tax, cancellations and refunds</i></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
