{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div ng-controller="KpiHourlyController">
<div class="row">
    <div class="col-sm-12">
        <h1>&nbsp;&nbsp;Hourly Sales Tracker</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <canvas id="line" class="chart chart-line" chart-data="chartData" chart-labels="chartLabels"
                        chart-legend="true" chart-series="chartSeries" chart-options="chartOptions"
                        chart-colours="chartColours">
                </canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-default">
                <tr class="serenity">
                    <td colspan="5" class="text-xs-center"><b>Net sales (CO)</b></td>
                </tr>
                <tr>
                    <th class="text-xs-center">Date</th>
                    <th class="text-xs-center">Sessions</th>
                    <th class="text-xs-center">Orders</th>
                    <th class="text-xs-center">Net</th>
                    <th class="text-xs-center">ECR</th>
                </tr>
            </thead>
            <tbody>
            {% for x in net_sales %}
                <tr>
                    <td>{{ x.period }}</td>
                    <td class="text-xs-right">{{ x.sessions | intcomma }} {% if x.estimated %}<sup>†</sup>{% endif %}</td>
                    <td class="text-xs-right">{{ x.total_orders | intcomma }}</td>
                    <td class="text-xs-right">{{ x.net_sales | floatformat:2 | intcomma }}</td>
                    <td class="text-xs-right">
                        {{ x.conversion_rate | floatformat:2 }}%
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="5" class="text-xs-center"><i>†—Sessions estimate based on three-day rolling average</i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table table-bordered table-sm table-striped">
            <thead class="thead-default">
                <tr class="serenity">
                    <td colspan="3" class="text-xs-center"><b>Gross sales (CO)</b></td>
                </tr>
                <tr>
                    <th class="text-xs-center">Orders</th>
                    <th class="text-xs-center">Net</th>
                    <th class="text-xs-center">ECR</th>
                </tr>
            </thead>
            <tbody>
            {% for x in net_sales_ignoring_status %}
                <tr>
                    <td class="text-xs-right">{{ x.total_orders | intcomma }}</td>
                    <td class="text-xs-right">{{ x.net_sales | floatformat:2 | intcomma }}</td>
                    <td class="text-xs-right">
                        {{ x.conversion_rate | floatformat:2 }}%
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="3" class="text-xs-center"><i>*—totals <b>include</b> tax, cancellations and refunds</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    window.modjento_data = {};
    window.modjento_data.grossSales = {{ gross_sales_json | safe }};
</script>
</div>
{% endblock %}
