.triangle-up-left {
  width: 0;
  height: 0;
  border-top:80px solid $radiant-orchid;
  border-right: 80px solid transparent;
  overflow: visible;
  position: relative;
  z-index: 10
}

.triangle-up-left p {
  top: -80px;
  color: white;
  text-align: left;
  display: inline;
  position: absolute
}

.image {
   position: relative;
   width: 100%;
}
