{% extends "base.html" %}
{% block content %}
<div class="row" ng-controller="CustomerDashboardController">
    <hr class="no-border">
    <div class="row">
        <div class="col-md-2 col-sm-12 left-col list-group">
            <button type="button" class="list-group-item" ng-click="changeView(0)">Summary</button>
            <button type="button" class="list-group-item" ng-click="changeView(1)">Orders</button>
            <button type="button" class="list-group-item" ng-click="changeView(2)">Sessions</button>
            <button type="button" class="list-group-item" ng-click="changeView(3)">PageViews</button>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="row">
                <div class="col-sm-12" ng-show="currentView==0">
                    <h3>Summary Information For&nbsp;&nbsp;[[ email ]]!</h3>
                    <p ng-if="summaryLength">Customer ID:&nbsp;[[orderSummary.id]]</p>
                    <table class="table table-striped table-bordered" ng-if="summaryLength">
                        <thead>
                        <tr>
                            <th>Num&nbsp;Of&nbsp;Orders</th>
                            <th>LifeTime&nbsp;Value</th>
                            <th>First&nbsp;Order&nbsp;Date</th>
                            <th>Last&nbsp;Order&nbsp;Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>[[orderSummary.nums]]</td>
                            <td>[[orderSummary.lifetime_value]]</td>
                            <td>[[orderSummary.first_order_dt]]</td>
                            <td>[[orderSummary.last_order_at]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered" ng-if="lifecycle.length">
                        <thead>
                        <tr>
                            <th>Current&nbsp;Funnel&nbsp;Step</th>
                            <th>Current&nbsp;Lifecycle&nbsp;Messaging&nbsp;Stage</th>
                            <th>Current&nbsp;Messaging&nbsp;Data</th>
                            <th>Lifecycle&nbsp;Modified&nbsp;Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lc in lifecycle" ng-if="lifecycle.length" class="small-btn">
                            <td>[[lc.funnel_step]]</td>
                            <td>[[lc.lifecycle_messaging_stage]]</td>
                            <td>[[lc.lifecycle_messaging_data]]</td>
                            <td>[[lc.modified_dt]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-if="summaryLength==0 && lifecycle.length==0">Unfortunately, no order info has been found fot his customer.</p>
                </div>
                <div class="col-sm-12" ng-show="currentView==1">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Increment&nbsp;Id</th>
                            <th>Order&nbsp;Status</th>
                            <th>Order&nbsp;Date&nbsp;Time</th>
                            <th>Order&nbsp;Grand&nbsp;Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orders" ng-if="orders.length" class="small-btn">
                            <td>[[order.increment_id]]</td>
                            <td>[[order.status]]</td>
                            <td>[[order.created_at]]</td>
                            <td>[[order.total]]</td>
                        </tr>
                        <tr ng-if="orders.length == 0">
                            <td colspan="9">
                                No Orders Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-9 col-sm-12" ng-show="currentView==2">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Session&nbsp;ID</th>
                            <th>Created&nbsp;Date&nbsp;Time</th>
                            <th>Device&nbsp;Headers</th>
                            <th>Num&nbsp;PageViews</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="session in sessions" ng-if="sessions.length" class="small-btn">
                            <td>[[session.session_id]]</td>
                            <td>[[session.created_at]]</td>
                            <td>[[session.device_headers]]</td>
                            <td>[[session.num_page_views]]</td>
                        </tr>
                        <tr ng-if="sessions.length == 0">
                            <td colspan="9">
                                No Sessions Information Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-9 col-sm-12" ng-show="currentView==3">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Created&nbsp;Date&nbsp;Time</th>
                            <th>Url&nbsp;Path</th>
                            <th>Product&nbsp;Full&nbsp;Id</th>
                            <th>Url&nbsp;Parameters</th>
                            <th>Session&nbsp;Id</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pageview in pageviews" ng-if="pageviews.length" class="small-btn">
                            <td>[[pageview.created_at]]</td>
                            <td>[[pageview.url_path]]</td>
                            <td>[[pageview.product_fullid]]</td>
                            <td>[[pageview.url_parameters]]</td>
                            <td>[[pageview.session]]</td>
                        </tr>
                        <tr ng-if="pageviews.length == 0">
                            <td colspan="9">
                                No Page Views Information Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    window.customerData = {};
    window.customerData.email = {{ email | safe }};
    window.customerData.orders = {{ orders | safe }};
    window.customerData.sessions = {{ sessions | safe }};
    window.customerData.pageviews = {{ pageviews | safe }};
    window.customerData.order_summary = {{ order_summary | safe }};
    window.customerData.lifecycle = {{ lifecycle | safe }};
</script>
{% endblock %}
