{% extends "base.html" %}
{% block content %}
<div class="row" ng-controller="LifecycleAnalyticsController">
    <hr class="no-border">
    <div class="row">
        <div class="col-sm-12">
            <h3>Lifecycle&nbsp;Status</h3>
            <p class="serenity">From&nbsp;[[ dateFrom ]]&nbsp;To&nbsp;[[ dateTo ]]</p>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                    <canvas id="line" class="chart chart-line" chart-data="chartData" chart-labels="chartLabels"
                            chart-legend="true" chart-series="chartSeries" chart-options="chartOptions"
                            chart-colours="chartColours">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-4 col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Hour</th>
                    <th>Emails Sent (last 24 hrs)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in sendersToday" class="small-btn">
                    <td>[[x.hour]]</td>
                    <td>[[x.num]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Hour</th>
                    <th>Emails Sent (prev 24 hrs)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in sendersYesterday" class="small-btn">
                    <td>[[x.hour]]</td>
                    <td>[[x.num]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Hour</th>
                    <th>Emails Sent (7 day avg)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in sendersWeek" class="small-btn">
                    <td>[[x.hour]]</td>
                    <td>[[x.num]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    window.senderData = {};
    window.senderData.senders_today = {{ senders_today | safe }};
    window.senderData.senders_yesterday = {{ senders_yesterday | safe }};
    window.senderData.senders_week = {{ senders_week | safe }};
    window.senderData.date_from = {{ date_from | safe }};
    window.senderData.date_to = {{ date_to | safe }};
</script>
{% endblock %}
