{% extends "base.html" %}
{% block content %}
<div class="row" ng-controller="OrderDetailsController" xmlns="http://www.w3.org/1999/html">
    <hr class="no-border">
    <div class="col-sm-10">
        <nav class="navbar navbar-light bg-faded">
            <img class="navbar-brand" src="/static/images/angry-penguin.png" height="40" width="auto" />
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#productDetails">Product&nbsp;Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#totals">Totals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#notes">Notes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#helpscout">Help&nbsp;Scout&nbsp;Tickets</a>
                </li>
              </ul>
        </nav>
    </div>
    <div class="col-sm-10" ng-repeat="order in orders track by $index" ng-if="orders && orders.length">
        <table class="table-striped table-bordered table" style="width:100%;">
            <thead>
                <tr>
                    <th colspan="3">
                        <div class="row">
                            <div class="col-sm-4">
                                <small class="clickable">
                                    <a ng-href="https://admin.cellularoutfitter.ca/index.php/onlyadmin/sales_order/view/order_id/[[order.entity_id]]/">
                                        Order&nbsp;#:&nbsp;[[order.order_id]]</a></small><br/>
                                <small>Customer&nbsp;Name:&nbsp;[[order.name]]</small><br/>
                                <small>Customer&nbsp;Email:&nbsp;
                                    <input type="text" ng-model="order.email">
                                </small><br/>
                                <small>Address&nbsp;Street:&nbsp;
                                    <input type="text" ng-model="order.shipping_address.street">
                                </small><br/>
                                <small>Address&nbsp;City:&nbsp;
                                    <input type="text" ng-model="order.shipping_address.city">
                                </small><br/>
                                <small>Address&nbsp;Zipcode:&nbsp;
                                    <input type="text" ng-model="order.shipping_address.postcode">
                                </small><br/>
                                <small>Address&nbsp;Region:&nbsp;
                                    <input type="text" ng-model="order.shipping_address.region">
                                </small><br/>
                                <small>Phone&nbsp;Number:&nbsp
                                    <input type="text" ng-model="order.billing_address.telephone">
                                </small><br/>
                                <small>Payment&nbsp;Method:&nbsp;[[order.payment_method]]</small><br/>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                  <button type="button" class="btn btn-secondary btn-sm">Cancel</button>
                                  <button type="button" class="btn btn-secondary btn-sm">Hold</button>
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-1">
                                <small>Order&nbsp;Status:&nbsp;[[order.status ]]</small><br/>
                                <small ng-show="order.track && order.track.carrier_code && order.track.track_number">Tracking:&nbsp;<a class="button" ng-href=[[::trackPageUrl(order.track)]]>[[order.track.track_number]]</a><br/></small>
                                <small ng-show="order.track == undefined || order.track.carrier_code == undefined || order.track.track_number == undefined">Tracking:&nbsp;N/A<br/></small>

                                <small>Est.&nbsp;Ship/Delivery&nbsp;Date:&nbsp;N/A</small><br/>
                                <small>Shipping&nbsp;Method:&nbsp;
                                    <input type="text" ng-model="order.shipping_description">
                                </small><br/>
                                <small>Total&nbsp;Orders:&nbsp;[[customer_lifecycle.nums]]</small><br/>
                                <small>First&nbsp;Order&nbsp;Date&nbsp;:[[customer_lifecycle.first_order_dt]]</small><br/>
                                <small>Total&nbsp;Rev:&nbsp;[[customer_lifecycle.lifetime_value]]</small><br/>
                                <div class="container container-no-padding" >
                                  <a href="#recentOrders" class="btn btn-secondary btn-sm" role="button">Most 3 Recent Orders</a>
                                  <button class="btn btn-secondary btn-sm" ng-click="goToOrderLookup(email)">All Orders</button>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <small>Marketing&nbsp;Email&nbsp;Sent:&nbsp;</small><br/>
                                 <small><button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#couponModal">
                                   Promo&nbsp;Codes&nbsp;Used
                                 </button></small><br/>
                                <small>Sales&nbsp;Chanel:&nbsp;</small><br/>
                            </div>



                        </div>
                    </th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <table id="productDetails" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Qty</th>
                          <th>Price</th>
                          <th>Discount</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in order.products">
                          <td>[[item.product_id]]&nbsp;&nbsp;[[item.name]]</td>
                          <td>[[item.qty]]</td>
                          <td>[[item.price]]</td>
                          <td>[[item.discount]]</td>
                          <td>[[item.total]]</td>
                        </tr>
                      </tbody>
                    </table>
                </tr>
                <tr>
                    <div class="col-sm-6" id="helpscout"><h3>HelpScout</h3></div>
                    <table  class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>First&nbsp;Name</th>
                          <th>Last&nbsp;Name</th>
                          <th>Full&nbsp;Name</th>
                          <th>Id</th>
                          <th>Created&nbsp;At</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in helpscout.items" ng-if="helpscout && helpscout.items.length > 0">
                          <td>[[item.firstName]]</td>
                          <td>[[item.lastName]]</td>
                          <td>[[item.fullName]]</td>
                          <td>[[item.id]]</td>
                          <td>[[item.createdAt]]</td>
                        </tr>
                        <tr ng-if="!helpscout || !helpscout.items">
                            <td colspan="9">
                                No HelpScout info Found
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </tr>
                <tr>
                    <table  class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th><div id="notes" ><h3>Notes</h3></div></th>
                          <th><div id="totals" ><h3>Order Totals</h3></div></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td ng-repeat="conversation in conversations">
                            <small>Reason:&nbsp;'N/A'</small><br/>
                            <small>Method&nbsp;Of&nbsp;Contact:&nbsp;'N/A'</small><br/>
                            <small>Resolution&nbsp;Provided&nbsp;'N/A'</small><br/>
                            <small>Note:&nbsp;[[conversation.preview]]</small><br/>
                            <small>Owner:&nbsp;[[conversation.owner]]</small><br/>
                          <td>
                            <small>Subtotal:&nbsp;[[order.subtotal]]</small><br/>
                            <small>Shipping:&nbsp;[[order.shipping_amount]]</small><br/>
                            <small>Discount:&nbsp;[[order.discount_amount]]</small><br/>
                            <small>Tax&nbsp;[[order.tax_amount]]</small><br/>
                            <small>Grand&nbsp;Total&nbsp;[[order.grand_total]]</small><br/>
                            <small>Refunds:&nbsp;[[order.total_refunded]]</small><br/>
                          </td>
                        </tr>
                      </tbody>
                    </table>
               </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-10">
        <div class="container">
            <div class="modal fade bd-example-modal-lg" id="couponModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Coupon Used</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table-striped table-bordered table-sm" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Coupon&nbsp;Code:&nbsp;</th>
                                        <th>Discount&nbsp;Percent:&nbsp;</th>
                                        <th>Discount&nbsp;Amount:&nbsp;</th>
                                        <th>Subtotal:&nbsp;</th>
                                        <th>Max&nbsp;Amount:&nbsp;</th>
                                        <th>Rule:&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="coupon in coupons track by $index">
                                        <td>[[coupon.coupon_code]]</td>
                                        <td>[[coupon.discount_percent]]</td>
                                        <td>[[coupon.discount_amount]]</td>
                                        <td>[[coupon.subtotal]]</td>
                                        <td>[[coupon.max_discount_amount]]</td>
                                        <td ng-repeat="rule in coupon.rule_limit">
                                            Description:&nbsp;[[rule.itemid]]<br/>
                                            Applyto&nbsp;Shipping&nbsp;:[[rule.apply_to_shipping]]<br/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10" id="recentOrders" ng-if="recentOrders && recentOrders.length > 0"><h3>Most recent 3 orders</h3></div>
    <div class="col-sm-10" ng-repeat="order in recentOrders track by $index">
        <table class="table-striped table-bordered table" style="width:100%;">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="3">
                        <div class="col-sm-6">
                            <small>TOTAL&nbsp;[[order.grand_total ]]</small><br/>
                            <small>Order # [[order.order_id]]</small><br/>
                            <small>Order Status: &nbsp;[[order.status ]]</small><br/></div>
                        <div class="col-sm-6">
                            <small>Payment&nbsp;Method:&nbsp;[[order.payment_method]]</small><br/>
                            <small>Shipping&nbsp;Method:&nbsp;[[order.shipping_description]]</small><br/>
                            <small ng-show="order.track && order.track.carrier_code && order.track.track_number">Tracking: &nbsp;<a ng-href=[[::trackPageUrl(order.track)]]>[[order.track.track_number]]</a></small>
                            <small ng-show="order.track ==undefined || !order.track">Tracking: &nbsp;N/A</small>
                        </div>
                    </th>
               </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in order.products">
                    <td colspan="3">
                        <div class="col-sm-6">
                                <small>Product&nbsp;Id:&nbsp;[[item.product_id]]<br/></small>
                                <small>Product&nbsp;Name:&nbsp;[[item.name]]<br/></small>
                        </div>
                        <div class="col-sm-6">
                                <small>Qty: &nbsp;[[item.qty]]</small><br/>
                                <small>price:&nbsp;[[item.price]]<br/></small>
                                <small>discount:&nbsp;[[item.discount]]<br/></small>
                                <small>total:&nbsp;[[item.total]]<br/></small>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
    window.orderDetails = {};
    window.orderDetails.orders = {{ orders | safe }};
    window.orderDetails.recent_orders = {{ recent_orders | safe }};
    window.orderDetails.helpscout = {{ helpscout_info | safe }};
    window.orderDetails.coupons = {{ coupons | safe }};
    window.orderDetails.email = {{ email | safe }};
    window.orderDetails.customer_lifecycle = {{ customer_lifecycle | safe }};
    window.orderDetails.conversations = {{ conversations | safe }};
</script>
{% endblock %}
