{% extends "base.html" %}
{% block content %}
<div class="row" ng-controller="OrderLookupController">
    <hr class="no-border">
    <div class="row">
        <div class="col-sm-10">
            <form ng-submit="submitData()">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group small-bottom col-sm-4 ">
                    <label for="name" class="text-right">Order Number</label>
                    <input type="text" class="form-control pull-right" id="orderId" name="increment_id" ng-model="increment_id">
                  </div>
                  <div class="form-group small-bottom col-sm-4 ">
                    <label for="customer_email" class="text-right">Email</label>
                    <input type="text" class="form-control pull-right" id="email" name="customer_email" ng-model="customer_email">
                  </div>
                  <div class="form-group small-bottom col-sm-4 ">
                    <label for="phone" class="text-right">Phone</label>
                    <input type="phone" class="form-control pull-right" id="telephone" name="telephone" ng-model="telephone">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group small-bottom col-sm-4">
                    <label for="zipcode" class="text-right">Zip Code</label>
                    <input type="text" class="form-control pull-right" id="zipcode" name="postcode" ng-model="postcode">
                  </div>
                  <div class="form-group small-bottom col-sm-4 ">
                    <label for="firstname" class="text-right">Firstname</label>
                    <input type="text" class="form-control pull-right" id="firstname" name="firstname" ng-model="firstname">
                  </div>
                  <div class="form-group small-bottom col-sm-4 ">
                    <label for="lastname" class="text-right">Lastname</label>
                    <input type="text" class="form-control pull-right " id="lastname" name="lastname" ng-model="lastname">
                  </div>
                </div>
                  <div class="row">
                      <div class="form-group small-bottom col-sm-4 ">
                        <label for="lastfour" class="text-right">Last 4 Card</label>
                        <input type="text" class="form-control pull-right" id="lastfour" name="lastfour" ng-model="lastfour">
                      </div>
                      <div class="form-group small-bottom col-sm-4">
                        <label for="datefrom" class="text-right">Date From</label>
                        <input type="date" class="form-control pull-right" id="datefrom" name="datefrom" ng-model="datefrom">
                      </div>
                      <div class="form-group small-bottom col-sm-4 ">
                        <label for="dateto" class="text-right">Date To</label>
                        <input type="date" class="form-control pull-right" id="dateto" name="dateto" ng-model="dateto">
                      </div>
                  </div>

              <div class="col-sm-12 container-no-padding">
              <button type="button" class="btn btn-default pull-right" ng-click="resetData()">Reset</button>
              <button type="submit" class="btn btn-default pull-right " style="margin-right: 10px">Search</button></div>
            </form>
        </div>

        <div class="col-sm-10" ng-if="currentPage && showTable">
            <table class="table-striped table-bordered table-responsive table" style="width:100%;">
                <thead class="thead-inverse">
                    <tr>
                        <th>More&nbsp;Info&nbsp;</th>
                        <th>Order&nbsp;Number&nbsp;</th>
                        <th>Ordered&nbsp;Source&nbsp;</th>
                        <th>Ordered&nbsp;From&nbsp;</th>
                        <th>Order&nbsp;Date&nbsp;</th>
                        <th>First&nbsp;Name&nbsp;</th>
                        <th>Last&nbsp;Name&nbsp;</th>
                        <th>Email&nbsp;</th>
                        <th>Phone&nbsp;Number&nbsp;</th>
                        <th>Zip&nbsp;Code&nbsp;</th>
                        <th>Paid&nbsp;By&nbsp;</th>
                        <th>Last&nbsp;4&nbsp;Of&nbsp;Card&nbsp;</th>
                        <th>Order&nbsp;Total&nbsp;</th>
                        <th>Status&nbsp;</th>
                        <th>Shipping&nbsp;Method&nbsp;</th>
                   </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in currentPage" ng-if="currentPage.length">
                        <td class="clickable">
                        <form name="orderDetails" id="orderDetails" ng-submit="goToDetail(order.order_number, order.email)">
                            {% csrf_token %}
                            <div class="input-hidden">
                                <input name="orderNum" ng-model="order.order_number">
                                <input name="orderEmail" ng-model="order.email">
                            </div>
                            <button class="right btn text-white" type="submit"><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;See More</button>
                        </form>
                        </td>
                        <td>[[order.order_number]]</td>
                        <td>[[order.order_source]]</td>
                        <td>[[order.order_from]]</td>
                        <td>[[order.created_at]]</td>
                        <td>[[order.firstname]]</td>
                        <td>[[order.lastname]]</td>
                        <td>[[order.email]]</td>
                        <td>[[order.shipping_address.telephone]]</td>
                        <td>[[order.shipping_address.postcode]]</td>
                        <td>[[order.payment_method]]</td>
                        <td>[[order.payment_last4]]</td>
                        <td>[[order.grand_total]]</td>
                        <td>[[order.status]]</td>
                        <td>[[order.shipping_description]]</td>
                    </tr>
                    <tr ng-if="page_orders.length == 0">
                        <td colspan="9">
                            No Order Info has been found
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination pagination-lg">
                  <li class="page-item">

                      <a class="page-link" ng-click="goToPage(1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>

                  </li>
                <li ng-repeat="p in ::pageData.pages" class="page-item">
                  <a class="page-link" ng-click="goToPage(p)" >[[ p ]]</a>
                </li>
                <li class="page-item">
                  <a class="page-link" ng-click="goToPage(pageData.last_page)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
     </div>
    </div>

</div>
<script>
    window.orderLookup = {};
{#    window.orderLookup.orders = {{ orders | safe }};#}
    window.orderLookup.orderDetailEndpoint = '{% url 'analytics:order-details' %}';
    window.orderLookup.page_orders = {{ page_orders|safe }};
</script>
{% endblock %}
