{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-10">
        <h1>Sign&nbsp;Up&nbsp;for&nbsp;Birthday&nbsp;Rewards!</h1>
        <hr/>
    </div>
    <div class="col-sm-10" ng-controller="BdaySubmission">
        <form action="" method="post" name="bday">
            {% csrf_token %}
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <small class="form-text text-muted">required*</small>
                <input type="date" required class="form-control" id="birthday" name="birthday">
            </div>
            <div class="form-group">
                <label for="email">Email&nbsp;address</label>
                <small class="form-text text-muted">required*</small>
                <input type="email" required class="form-control" id="email" ng-model=email name=email ng-pattern="emailPattern" aria-describedby="emailHelp" placeholder="Enter email">
                <span style="color:red" ng-show="bday.email.$error.pattern">
                    <span ng-show="bday.email.$error.pattern">Invalid email address</span>
                </span>
            </div>
            <div class="form-group">
                <label for="device_brand">Device&nbsp;Brand</label>
                <small class="form-text text-muted">required*</small>
                <select required class="form-control" id="device_brand"
                        ng-options="brand for brand in deviceBrands"
                        ng-change="updateModels()"
                        ng-model="selectedBrand"
                        name="device_brand">
                  <option value="">-- Choose a device brand --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <small class="form-text text-muted">required*</small>
                <select required class="form-control" id="model"
                        ng-options="model for model in models"
                        ng-change="updateModelId()"
                        ng-model="selectedModel"
                        name="model">
                  <option value="">-- Choose a model --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="frequency">How&nbsp;often&nbsp;do&nbsp;you&nbsp;buy&nbsp;cell&nbsp;phone&nbsp;accessories?</label>
                <small class="form-text text-muted">required*</small>
                <select required class="form-control" id="frequency"
                        ng-options="frequency for frequency in frequencyOptions"
                        ng-model="selectedFrequency"
                        name="frequency">
                  <option value="">-- Choose a frequency --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="color">Favorite&nbsp;Color</label>
                <small class="form-text text-muted">optional</small>
                <select class="form-control" id="color"
                        ng-style="{'background-color': selectedColor}"
                        ng-options="color.label as color.label for color in colors"
                        ng-model="selectedColor"
                        name="color">
                    <option value="">-- Choose a color --</option>
                </select>
            </div>
            <div class="form-group input-hidden">
                <label for="riid"></label>
                <input name="riid" ng-model="riid">
                <input name="modelId" ng-model="modelId">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="bday.email.$error.pattern">Submit</button>
        </form>
    </div>
</div>
<script>
    window.bdayData = {};
    window.bdayData.frequencyOptions = {{ frequency_options | safe }};
    window.bdayData.authenticated = {{ authenticated | safe }};
    window.bdayData.email = {{ email | safe }};
    window.bdayData.deviceBrands = {{ device_brands | safe }};
    window.bdayData.mp_brand_models = {{ mp_brand_models | safe }};
    window.bdayData.riid = {{ riid | safe }};
    window.bdayData.mp_model_id = {{ mp_model_id | safe }};
</script>
{% endblock %}
