{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Email Preferences</h1>
        <hr/>
    </div>

   </div>
   <hr />
  <style type="text/css">
    #email-prefs textarea: {
      height: 5em;
      resize: vertical;
    }
  </style>
<script type='text/javascript'>
  // ZAIUS INITIALIZATION
    var zaius = window['zaius']||(window['zaius']=[]);zaius.methods=["initialize","onload","event","entity","identify","anonymize","dispatch"];zaius.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);zaius.push(t);return zaius}};for(var i=0;i<zaius.methods.length;i++){var method=zaius.methods[i];zaius[method]=zaius.factory(method)}(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"===document.location.protocol?"https://":"http://")+"d1igp3oop3iho5.cloudfront.net/v2/5YVK2LhYpKWTjZ4G035Dlw/zaius-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

</script>
    <div class="row">
    <div class="col-sm-12" ng-controller="UnsubForm">
        <form name="unsubForm" id="ubsubForm" action="" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <label for="email" class="col-sm-2 form-control-label text-right">Email Address:</label>
              <div class="col-sm-10">
                <input type="text" name="email_address" class="form-control" id="unsubForm" placeholder="Email Address">
              </div>
            </div>
            <div class="form-group row">
             <label class="col-sm-2 form-control-label text-right" for="checkboxes">
               Email Permissions:
             </label>


              <div class="col-sm-10">
               <div class="checkbox">
                 <label for="EMAIL_PERMISSION_STATUS_">
                   <input type="checkbox" name="EMAIL_PERMISSION_STATUS_" id="EMAIL_PERMISSION_STATUS_" value="1" />
                   UNSUBSCRIBE
                 </label>
               </div>
               <div class="checkbox">
                  <label for="NEWSLETTERS">
                    <input type="checkbox" name="NEWSLETTERS" id="NEWSLETTERS" value="1" />
                    I do not want to receive newsletters
                  </label>
               </div>
               <div class="checkbox">
                 <label for="PROMOTIONS">
                   <input type="checkbox" name="PROMOTIONS" id="PROMOTIONS" value="1" />
                   I do not want to receive promotions
                 </label>
               </div>
               <div class="checkbox">
                 <label for="NEW_PRODUCTS">
                   <input type="checkbox" name="NEW_PRODUCTS" id="NEW_PRODUCTS" value="1" />
                   I do not want to receive updates on new products
                 </label>
               </div>
               </div>
            </div>
          <div class="form-group row">
             <label class="col-sm-2 form-control-label text-right" for="checkboxes">
               Email Feedback:
             </label>


             <div class="col-sm-10">
              <div class="checkbox">
                <label for="TOO_MANY_EMAILS">
                  <input type="checkbox" name="TOO_MANY_EMAILS" id="TOO_MANY_EMAILS" value="1" />
                  I receive too many emails
                </label>
              </div>
              <div class="checkbox">
                <label for="EMAILS_NOT_RELEVANT">
                  <input type="checkbox" name="EMAILS_NOT_RELEVANT" id="EMAILS_NOT_RELEVANT" value="1" />
                  Emails were not relevant
                </label>
              </div>
              <div class="checkbox">
                <label for="EMAILS_CONTAINED_ERRORS">
                  <input type="checkbox" name="EMAILS_CONTAINED_ERRORS" id="EMAILS_CONTAINED_ERRORS" value="1" />
                  Emails contained too many errors
                </label>
              </div>
              </div>
           </div>
          <!-- Textarea -->
           <div class="form-group row" id="email-prefs">
             <label class="col-sm-2 form-control-label text-right" for="PRODUCT_NEG">
               What Can We STOP Doing/Selling?
             </label>
             <div class="col-md-4">
               <textarea class="form-control" name="PRODUCT_NEG"></textarea>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-sm-2 form-control-label text-right" for="PRODUCT_REC">What Can We START Doing/Selling?</label>
             <div class="col-md-4">
               <textarea class="form-control" name="PRODUCT_REC"></textarea>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-sm-2 form-control-label text-right" for="ADDITIONAL_COMMENTS">Additional Comments</label>
             <div class="col-md-4">
               <textarea class="form-control" name="ADDITIONAL_COMMENTS"></textarea>
             </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="button" class="btn serenity" ng-click="submitPreference()">Update Customer Preferences</button>
{#                    <button type="submit" class="btn serenity">Update Customer Preferences</button>#}
                </div>
            </div>
        </form>
    </div>

    <div>

    </div>
</div>
</div>
<script>
    window.modjento_data = {};
    window.modjento_data.authenticated = {{ authenticated | safe }};
    window.modjento_data.isUnsubbed = {{ isUnsubbed | safe }};
    window.modjento_data.email = '{{ email | safe }}';

    if (window.modjento_data.isUnsubbed) {
      zaius.event("list", {action: "unsubscribe", list_id: 'promotions', email: window.modjento_data.email });
      zaius.event("email", {action: "unsubscribe", email: window.modjento_data.email });
    }

</script>
{% endblock %}
