{% extends "base.html" %}
{% load static %}

{% block title %}Customers for Sales Director # {{ sales_director.pk }}{% endblock %}

{% block content %}
  <div class="row">
  </div>
  <div class="row" style="margin-top:25px">
      <div class="columns large-12 white">
        <div class="list-group">
          <h4 class="list-group-item-heading">Customers</h4>
          <hr style="margin-top:25px; margin-bottom:25px" />
          <table>
            <tr>
              <th>Customer ID</th>
              <th>RIID</th>
              <th>Customer Data</th>
            </tr>
          {% for customer in customers %}

            <tr>
              <td>{{ customer.uuid }}</td>
              <td>{{ customer.riid }}</td>
              <td>{{ customer.customerlifecycletracking.lifecycle_messaging_data }}</td>
              <!--<td><a href="#" class="list-group-item">Details</a></td>-->
            </tr>
          {% endfor %}

          </table>

        </div>
      </div>
  </div>
{% endblock content %}

