{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Sales Directors{% endblock %}

{% block content %}
      <div class="row">
      </div>
      <div class="row" style="margin-top:25px">
          <div class="columns large-12 white">
            <div class="list-group">
              <h4 class="list-group-item-heading">Existing Sales Directors Info</h4>
              <hr style="margin-top:25px; margin-bottom:25px" />
              <table>
                <tr>
                  <th>PK</th>
                  <th>Channel</th>
                  <th>Endpoint Name</th>
                  <th>Inactivity Threshold</th>
                  <th>Funnel Step</th>
                  <th>Lifecycle Messaging Stage</th>
                  <th>Details</th>
                  <th># of Prospects</th>
                  <th>View Prospects</th>
                </tr>
              {% for director in sales_directors %}
                <tr>
                  <td>{{ director.pk }}</td>
                  <td>{{ director.channel }}</td>
                  <td>{{ director.endpoint_name }}</td>
                  <td>{{ director.inactivity_threshold }}</td>
                  <td>{{ director.funnel_step }}</td>
                  <td>{{ director.lifecycle_messaging_stage }}</td>
                  <td>{{ </td>
                  <td><a href="{% url 'lifecycle:detail' director.pk %}" class="list-group-item">Details</a></td>
                  <!--<td><a href="#" class="list-group-item">Details</a></td>-->
                </tr>
              {% endfor %}

              </table>

            </div>
          </div>
      </div>
{% endblock content %}
