{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Feed Generator{% endblock %}

{% block content %}
      <div class="row">
      </div>
      <div class="row" style="margin-top:25px">
          <div class="columns large-12 white">
            <div class="list-group">
              <h4 class="list-group-item-heading">Generate Feeds</h4>
              <hr style="margin-top:25px; margin-bottom:25px" />
            </div>
            <form class="form-horizontal" method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Generate Feeds</button>
                </div>
              </div>
            </form>

          </div>

      </div>
{% endblock content %}
