
{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
        <h1>Campaign Logs</h1>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'lifecycle:campaign-logs-csv' %}">Download individual send logs</a>
    </div>
  <hr/>
</div>
<div class="row" ng-controller="LifecycleCampaignLogsController">
    <div class="col-sm-12">
      <div id="log-info">
        <nav>
          <ul class="pagination pagination-lg">
            <li ng-class="pageData.current==1 ? 'disabled' : 'enabled'" class="page-item">
              <a ng-class="pageData.current==1 ? 'disabled' : 'enabled'" class="page-link"
                 ng-href="[[ pageData.current==1 ? '' : '?page=1' ]]" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="p in ::pageData.pages" class="page-item" ng-class="p==pageData.current ? 'active' : 'not-active'">
              <a class="page-link" ng-href="[[ (p==pageData.current) ? '' : '?page=' + p ]]" >[[ p ]]</a>
            </li>
            <li ng-class="pageData.current==pageData.last_page ? 'disabled' : 'enabled'" class="page-item">
              <a ng-class="pageData.current==pageData.last_page ? 'disabled' : 'enabled'" class="page-link"
                 ng-href="[[ pageData.current==pageData.last_page ? '' : '?page='+pageData.last_page ]]" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </nav>
        <table class="table" id="table">
                  <thead>
                  <tr>
                      <th>Campaign</th>
                      <th>Response</th>
                      <th>Send Datetime</th>
                      <th>Number of Successful Sends</th>
                      <!--<th>Date</th>-->
                      <!--<th>Shipping Address</th>-->
                      <!--<th>Vendors</th>-->
                      <!--<th>Grand Total</th>-->
                  </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in ::logs" class="accordion-toggle" data-toggle="collapse"
                        data-parent="log-info" data-target="#[[ $index ]]">
                      <td>
                        [[ x.campaign ]]
                      </td>
                      <td>
                        Check admin to see actual response logs
                      </td>
                      <td>
                        [[ x.send_datetime ]]
                      </td>
                      <td>
                        [[ x.num_successful_sends ]]
                      </td>
                    </tr>
                  </tbody>
              </table>
      </div>
    </div>
</div>
<script>
    window.lifecycle_data = {};
    window.lifecycle_data.logs = {{ logs|safe }};
    window.lifecycle_data.page_data = {{ page_data|safe }};
</script>
{% endblock %}
