
{% extends "base.html" %}
{% block content %}

<div class="row" ng-controller="ProductReviewController">
    <div class="row" ng-if="showReview">
        <div class="col-sm-12 col-md-8 text-left">
            <h3><b>You&nbsp;are&nbsp;reviewing:</b></h3>
        </div>
        <div class="col-sm-12 col-md-8 text-left">
            <form action=" " method="post">
                {% csrf_token %}
                <div class="col-sm-12 col-md-8">
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <h4><b>[[product.name]]</b></h4><br>
                            <p>Wholesale&nbsp;Price:&nbsp;$[[product.price]]</p>
                        </div>
                        <div class="col-sm-5 col-sm-offset-2">
                            <img ng-src="[[product.image]]" width="175" height="175"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <h5><b>Please rate this product:</b></h5>
                         <table class="table table-striped">
                            <thead>
                                <tr>
                                  <section class="rating-container">
                                    <input type="radio" name="rating" class="rating" value="1" />
                                    <input type="radio" name="rating" class="rating" value="2" />
                                    <input type="radio" name="rating" class="rating" value="3" />
                                    <input type="radio" name="rating" class="rating" value="4" />
                                    <input type="radio" name="rating" class="rating" value="5" />
                                  </section>
                                </tr>
                            </thead>
                            <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<th>Overall</th>-->
                                    <!--<td><input type="radio" name="rating" value="1" checked="checked"></td>-->
                                    <!--<td><input type="radio" name="rating" value="2" checked="checked"></td>-->
                                    <!--<td><input type="radio" name="rating" value="3" checked="checked"></td>-->
                                    <!--<td><input type="radio" name="rating" value="4" checked="checked"></td>-->
                                    <!--<td><input type="radio" name="rating" value="5" checked="checked"></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="title">Review&nbsp;Title</label>
                            <input type="text" class="form-control" name="title" id="title" ng-model="title">
                    </div>
                    <div class="form-group">
                        <label for="content">Please&nbsp;review&nbsp;this&nbsp;item</label>
                            <textarea class="form-control" name="content" id="content" rows="3" ng-model="content"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">What&nbsp;is&nbsp;your&nbsp;name&nbsp;</label>
                            <input type="text" class="form-control" name="name" id="name" ng-model="name">
                    </div>
                    <div class="form-group input-hidden">
                        <input name="product_id" ng-model="product.product_id">
                        <input name="order_id" ng-model="order_id">
                        <input name="price_paid" ng-model="product.price">
                        <input name="email" ng-model="email">
                        <input name="riid" ng-model="riid">
                    </div>
                    <button type="submit" class="btn btn-success">SUBMIT&nbsp;REVIEW</button>
                </div>
            </form>
    </div>
    </div>
    <div class="row" ng-if="showReview==false">
        <div class="col-sm-12 col-md-8 text-left">
            <h3><b>Please check the product id and order id</b></h3>
        </div>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 text-left">
          <h3><b>Here are some other products you might like:</b></h3>
          <hr />
            <table class="table" style="border: none">
                <thead>
                    <tr>
                        <th class="col-md-3 col-sm-6" ng-repeat="product in strands_products1"><img ng-src="[[product.image]]" width="100" height="100"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-3 col-sm-6" ng-repeat="product in strands_products1"><a ng-href="[[ product.url_path ]]">[[ product.name ]]<br><del>$[[ product.price ]]</del>&nbsp; $[[product.special_price]]</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
         <div class="col-sm-12 col-md-8 text-left">
            <table class="table" style="border: hidden">
                <thead>
                    <tr>
                        <th class="col-md-3 col-sm-12" ng-repeat="product in strands_products2"><img ng-src="[[product.image]]" width="100" height="100"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-3 col-sm-12" ng-repeat="product in strands_products2"><a ng-href="[[ product.url_path ]]">[[ product.name ]]<br><del>$[[ product.price ]]</del>&nbsp; $[[product.special_price]]</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function(){
            $('.rating-container').rating();
        });
    </script>

<script>
    window.product_review_data = {};
    window.product_review_data.stars = {{ stars|safe }};
    window.product_review_data.product = {{ product|safe }};
    window.product_review_data.email = {{ email|safe }};
    window.product_review_data.order_id = {{ order_id|safe }};
    window.product_review_data.strands_products = {{ strands_products|safe }};
    window.product_review_data.authenticated = {{ authenticated | safe }};
    window.product_review_data.riid = {{ riid | safe }};
    window.product_review_data.product_id = {{ product_id | safe }};
</script>
{% endblock %}
