{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Responsys Credentials{% endblock %}

{% block content %}
      <div class="row">
      </div>
      <div class="row" style="margin-top:25px">
          <div class="columns large-12 white">
            <div class="list-group">
              <h4 class="list-group-item-heading">Responsys API Token Info</h4>
              <hr style="margin-top:25px; margin-bottom:25px" />

              {% for cred in credentials %}
                 <p>
                   <strong>Token: </strong> {{ cred.token }}
                 </p>
                 <p>
                   <strong>Endpoint: </strong> {{ cred.endpoint }}
                 </p>
                  <p>
                   <strong>Modified DT: </strong> {{ cred.modified_dt }}
                 </p>
              {% endfor %}
            </div>
            <form class="form-horizontal" method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Update</button>
                </div>
              </div>
            </form>

          </div>

      </div>




{% endblock content %}
