$serenity: #9baad1;
$rose-quartz: #f4c9c8;
$marsala: #964f4c;
$ashes-of-roses: #b5acab;
$orchid-haze: #b0879b;
$radiant-orchid: #b565a7;
$emerald: #009874;
$tango-tangerine: #e1523d;

.serenity {
  background-color: $serenity;
}

.rose-quartz {
  background-color: $rose-quartz;
}

.marsala {
  background-color: $marsala;
}

.text-marsala {
  color: $marsala;
}

.ashes-of-roses {
  background-color: $ashes-of-roses;
}

.orchid-haze {
  background-color: $orchid-haze;
}

.radiant-orchid {
  background-color: $radiant-orchid;
}

.emerald {
  background-color: $emerald;
}

.text-emerald {
  color: $emerald;
}

.tango-tangerine {
  background-color: $tango-tangerine;
}

.text-white {
  color: #dddddd;
}
